SECRET_KEY="1234567890"
SQLALCHEMY_DATABASE_URI="postgresql+asyncpg://tournament:tournament@db:5432/tournament"
VITE_BACKEND_URL=http://localhost:8000
VITE_SOCKETIO_SERVER_URL=http://localhost:8000

# Налаштування Firebase
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_MEASUREMENT_ID=""
