SECRET_KEY="1234567890"
SQLALCHEMY_DATABASE_URI="postgresql://user:password@localhost/dbname"
VITE_BACKEND_URL=http://127.0.1:8000
VITE_SOCKETIO_SERVER_URL=http://127.0.0.1:8000

# Налаштування Firebase
VITE_FIREBASE_API_KEY="AIzaSyA0yV1uvA2ciTRYyed8XL9HgBbhnyouGNE"
VITE_FIREBASE_AUTH_DOMAIN="star-8a692.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="star-8a692"
VITE_FIREBASE_STORAGE_BUCKET="star-8a692.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="221685619212"
VITE_FIREBASE_APP_ID="1:221685619212:web:06d14cefaa600a7e3dec29"
VITE_FIREBASE_MEASUREMENT_ID="G-3J22BCL1QQ"
